@charset "UTF-8";

@font-face {
	Font-family: ‘Siracha’ ;
	Src: url(‘fonts/Sriracha.ttf.eot’) format(.eot)
	Font-weight: normal;
	Font-style: normal;
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

/* font-family: 'Lilita One', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: 'Sriracha',sans-serif;
    font-weight: bold;

}

header{

    width: auto;
    height: 150px;
    padding: 15px;
    background-color: black;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    color: white;
}
h1{
    font-size: 3em;
    margin-bottom: 0px;
}
main{
    background-color: grey;
    width: 500px;
    font-family: 'Sriracha',sans-serif;
    font-weight: bold;

}
section{

}
img{
    
}